@import 'https://fonts.googleapis.com/css?family=Merriweather';

.title {
  text-align: center;
}

.result {
  background-color: #ffff66;
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  word-spacing: 25px;
}

.generate {
  text-align: center;
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.speak {
  display: none;
  text-align: right;
}

.logo {
  margin-top: 20px;
  text-align: center;
}

.generation {
  margin-bottom: 20px;
}

.main-text div p {
  text-align: center;
  font-size: 1.2em;
}
